<mat-card  style="background-color: #181717" *ngIf="orders().length > 0; else noSymbols">


  <mat-card-header class="flex justify-content-center p-3">
    <h2>ORDERS</h2>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="orders()" style="background-color: #181717">

<!--      <ng-container matColumnDef="Order Id">-->
<!--        <th mat-header-cell *matHeaderCellDef> Id </th>-->
<!--        <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>-->
<!--      </ng-container>-->

      <ng-container
        matColumnDef="Symbol"
      >
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td style="cursor: pointer" mat-cell *matCellDef="let element" (click)="routeToHistory(element.symbol)" > {{element.symbol}} </td>
      </ng-container>

      <ng-container matColumnDef="Transaction Type">
        <th mat-header-cell *matHeaderCellDef> Transaction </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
      </ng-container>

      <ng-container matColumnDef="Order Type">
        <th mat-header-cell *matHeaderCellDef> Order Type </th>
        <td mat-cell *matCellDef="let element"> {{element.orderType.substring(11)}} </td>
      </ng-container>

      <ng-container matColumnDef="Quantity Requested">
        <th mat-header-cell *matHeaderCellDef> Requested </th>
        <td mat-cell *matCellDef="let element"> {{element.quantityRequested}} </td>
      </ng-container>

      <ng-container matColumnDef="Quantity Matched">
        <th mat-header-cell *matHeaderCellDef> Matched</th>
        <td mat-cell *matCellDef="let element"> {{element.quantityMatched}} </td>
      </ng-container>


      <ng-container matColumnDef="Price Requested For">
        <th mat-header-cell *matHeaderCellDef> Price Requested </th>
        <td mat-cell *matCellDef="let element"> ₹{{element.priceRequestedFor}} </td>
      </ng-container>

      <ng-container matColumnDef="Total Amount Spent">
        <th mat-header-cell *matHeaderCellDef> Spent </th>
        <td mat-cell *matCellDef="let element"> ₹{{element.totalAmountSpent}} </td>
      </ng-container>

<!--      <ng-container matColumnDef="Order Placed At">-->
<!--        <th mat-header-cell *matHeaderCellDef> Timestamp </th>-->
<!--        <td mat-cell *matCellDef="let element"> {{element.orderPlacedAt | date:'yyyy-MM-dd HH:mm'}} </td>-->
<!--      </ng-container>-->

      <ng-container matColumnDef="Last Updated At">
        <th mat-header-cell *matHeaderCellDef> Last Match </th>
        <td mat-cell *matCellDef="let element"> {{element.lastUpdatedAt | date:'yyyy-MM-dd HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="Order Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
      </ng-container>


      <ng-container matColumnDef="Exchange">
        <th mat-header-cell *matHeaderCellDef> Exchange </th>
        <td mat-cell *matCellDef="let element"> {{element.exchange}} </td>
      </ng-container>


      <ng-container matColumnDef="Cancel">
        <th mat-header-cell *matHeaderCellDef> Cancel </th>
        <td mat-cell *matCellDef="let element">
          <button
            [disabled]="element.orderStatus !== 'OPEN'"
            (click)="cancelOrder(element.orderId)"
            style="background-color: #262222" mat-raised-button
          >
            Cancel
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card-content>

  <div class="flex justify-content-end mr-5 mt-2 mb-2">
    <small (click)="fetchPage(page().page - 1)" style="cursor: pointer" *ngIf="page().prev">prev</small>
    <small (click)="fetchPage(page().page + 1)" class="ml-2" style="cursor: pointer" *ngIf="page().next">next</small>
  </div>

</mat-card>


<ng-template #noSymbols>
  <div style="height: 80vh;" class="flex justify-content-center align-items-center">
    <h2 style="text-align: center">It's empty in here.</h2>
  </div>
</ng-template>
