@import "primeicons/primeicons.css";



body, html{
  background-color:#131313;
  height: 100%;
  margin: 0;
}

.main-c{
  background-color: #181717;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
